.place__title {
  color: #fff;
  font-family: 'Inter-Black', Arial, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 48px;
  margin-top: 80px;
}
.place__title:nth-child(1) {
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin-top: 73px;
  }
  .place__title:nth-child(1) {
    margin-top: 88px;
  }

}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 50px;
    margin-bottom: 32px;
  }
  .place__title:nth-child(1) {
    margin-top: 64px;
  }

}
