.photo-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 284px);
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 14px;
  }
}

