.intro {
  max-width: 690px;
  padding-left: 100px;
  padding-bottom: 92px;
  min-height: 430px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 0;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 0 16px 64px;
  }
}
